

/node_modules
/.env
/database.json
/db.js


# command files (ignore until rewritten)
/commands/utility/glossary.js
/commands/utility/items.js
/commands/utility/quests.js
/commands/utility/shop.js
/commands/utility/start.js
/commands/utility/trade.js
/commands/utility/explore.js
/commands/utility/timed.js
/commands/utility/gamble.js
/commands/utility/stock.js

/finds.js

.vscode/
*.log
npm-debug.log*
